.Chatbook-container {
    height: calc(100vh - 120px);
    width: 100%;
    padding: 0;
}

.Chatbook-userList {
    background-color: var(--left);
    flex: 0 0 220px;
    margin-right: 0;
}

.Chatbook-chatContainer {
    background-color: var(--right);
    flex-grow: 1;
    overflow-x: hidden;
}
