.NewPostInput-input,
.NewPostInput-button {
    font-family: "Open Sans";
    font-size: 14px;
    padding: var(--s) var(--s);
}

.NewPostInput-input {
    flex-grow: 1;
    border: var(--right) 1px solid;
    border-radius: var(--xs) 0 0 var(--xs);
    transition: box-shadow 0.1s;
    background-color: var(--input);
    color: var(--white);
}

.NewPostInput-input:focus-within {
    border-color: var(--white);
    box-shadow: 0 0 0 var (--xs) rgba(14, 118, 221, 0);
}

.NewPostInput-button {
    color: var(--white);
    border: var(--right) 1px solid;
    border-radius: 0 var(--xs) var(--xs) 0;
    background: var(--submit);
    transition: color 0.1s, background 0.1s;
}

.NewPostInput-button:hover {
    color: var(--white);
    background-color: var(--purple);
}
