.SingleUser-container {
    background: var(--left);
    border-radius: var(--xs);
    padding: var(--m) var(--l);
    margin: 0 var(--s) var(--s) var(--s);
}

.SingleUser-container:hover {
    background: var(--right);
}

.SingleUser-container--active {
    background: var(--hightline);
}
